{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}

{% block component_product_box_price %}
    {% if product.customFields and product.customFields['ec_is_set'] %}
        {{ parent() }}
        <span>(* Stückliste)</span>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

