{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_col %}
    {% for product in searchResult %}
        {% if product.customFields and product.customFields['ec_is_set'] and product.availableStock < 1 %}
            {# skip setproduct if no stock #}
        {% else %}
            <div class="cms-listing-col {{ listingColumns }}">
                {% block element_product_listing_box %}
                    {% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                        'layout': boxLayout,
                        'displayMode': displayMode
                    } %}
                {% endblock %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}